/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

body h1 {
    background-color: #333;
    color: #fff;
}

#option-container {
    position: relative;
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos Menú Principal */
#menu-principal {
    background-image: url('./images/fondos/main-background.jpg');
    background-size: cover;
    color: #fff;
    padding: 150px 0;
    text-align: center;
}

.menu-principal img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    object-fit: cover;
    object-position: center center;
}

/* Contenedor y tarjetas de los productos */
.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 5rem;
}

.product-container h1 {
    color: #333;
    text-align: center;
}

.card {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 90%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 10px;
}

.card button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #555;
}

/*#cart-selection{

}*/

.total h2 {
    display: inline;
    margin-right: 20px;
}